.apps__wrapper{
    display: flex;
    padding: 0px 244px 250px 200px;
}
.links{
    display: flex;
    flex-direction: column;

    justify-content: center;
}
.title{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #000000;
    max-width: 520px;
}
.subtitle{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #7C7C7C;
    padding: 41px 0px 65px 0px;
}
.mobile__app{
    padding-left: 270px;
}
.links__app{
    display: flex;
    gap: 20px;
}